@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primart-text-color: rgba(1, 1, 242, 0.505);
    --text-font-famliy: "Nunito", serif;
}
body{
    background-color:  rgb(242, 252, 252);
}

/* nav-section */
.nav-section {
    font-family: "Nunito", serif;
margin-top: -20px;
    position: fixed;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333; /* Dark navbar */
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

.logo {
    color: white;
    font-size: 40px;
}

.links a {
     
    color: white;
    text-decoration: none; /* Removes underline */
    margin: 0 15px;
    font-size: 22px;

}

.links a:hover {
    color: #f39c12; /* Highlight on hover */
}



/* header-section */
.header-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 241, 241);
    margin-top: 20px;
}
.left-head{
    flex-basis: 40%;
}
.left-head p{
    margin-top: 10px;
    font-size: 20px;
}

.secondary-button{
    margin-top: 20px;
    border-radius: 6px;
    height: 50px;
    width: 140px;
    font-family: var(--text-font-famliy); 
    border: solid rgb(38, 40, 40);
    color: white;
    background-color: var(--primart-text-color);
    padding: 12px 24px ;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    cursor: pointer;
    transition: all;
}

.right-head {
   flex-basis: 40%;
   border: solid 1px rgba(1, 1, 242, 0.505);
   width:300px;
   height: 300px;
   background-color: rgba(1, 1, 242, 0.505); ;
   border-radius: 50%;
}
.tech-images-1{

    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
    

}
.tech-images-2{
    width: 220px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content:space-around;
    margin-left: 400px;
}
.tech-images-3{
    width: 220px;
    height: 200px;
    border-radius: 50%;
    
}

/* job-section */

.job-section{
    font-family: var(--text-font-famliy);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 70px;
    background-color: rgb(209, 241, 241);
}

.search-section h2{
    
    margin-top: 15px;
    margin-left: 150px;
    font-size: 2.3rem;
}
#search{
    width: 22rem;
    height: 40px;
    border-radius: 4px ;
}
.location{
    border-radius:  solid black 4px ;
    width: 8rem;
    height: 40px;
}
/* .job-section => display-job */

.display-job{
    margin-left: 60px;
    margin-top: 50px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    
}

.sector-1{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 11rem;
   height: 14rem;
   border-radius: 10px;
   padding: 20px;
   background-color: #99ddff;
   gap: 20px;
   margin-bottom: 20px;

}
.sector-1 img{
    width: 70px;
    height: 70px;
    border-radius: 50%;

    
    
}
.sector-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 11rem;
    height: 14rem;
    border-radius: 10px;
    padding: 20px;
    background-color: #99ddff;
    margin-bottom: 20px;

 
 
 }
 .sector-2 img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
   
    

    
 }
 .sector-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 11rem;
    height: 14rem;
    border-radius: 10px;
    padding: 20px;
    background-color: #99ddff;
    margin-bottom: 20px;
 
 
 }
 .sector-3 img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
 }
 .sector-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 11rem;
    height: 14rem;
    border-radius: 10px;
    padding: 20px;
    background-color: #99ddff;
    margin-bottom: 20px;
    
 }
 .sector-4 img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
 }
 

 /* latest-job-section */
 .latest-job{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap:20px;
    margin: 70px;
    font-family: var(--text-font-famliy);
    background-color:rgb(209, 241, 241);
    


 }

 .latest-job h2{
    margin-top: 10px;
    font-size: 2.3rem;
    
 }
 

.job-opening { 
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 70px;

 }
.job-1{
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 20rem;
    height: 15rem;

}
.job-1 h3{
   margin-top:  25px;
    
}
.job-1 img{
    margin-top: 20px;
    width: 60px; /* Adjust logo size */
    height: 50px;
    border-radius: 50%; 
}
 
.job-1 ul li{
    font-weight: 500;
    font-size: 1.2rem;
}

.job-2{
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 20rem;
    height: 15rem;
}
.job-2 h3{
    margin-top: 25px;
}
.job-2 img{
    margin-top: 20px;
    width: 60px; /* Adjust logo size */
    height: 50px;
    border-radius: 50%; 
}
.job-2 ul li{
    font-weight: 500;
    font-size: 1.2rem;
}



.job-3{
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 20rem;
    height: 15rem;
}
.job-3 h3{
    margin-top: 25px;
}
.job-3 img{
    margin-top: 20px;
    width: 60px; /* Adjust logo size */
    height: 50px;
    border-radius: 50%;
}
.job-3 ul li{
    font-weight: 500;
    font-size: 1.2rem;
}


.job-4{
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 20rem;
    height: 15rem;
}
.job-4 h3{
    margin-top: 25px ;
}
.job-4 img{
    margin-top: 20px;
    width: 60px; /* Adjust logo size */
    height: 50px;
    border-radius: 50%;
}
.job-4 ul li{
    font-weight: 500;
    font-size: 1.2rem;
}


.job-5{
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 20rem;
    height: 15rem;
}

.job-5 h3{
    margin-top: 25px;
    
}
.job-5 img{
  
    margin-top: 20px;
    width: 60px; /* Adjust logo size */
    height: 50px;
    border-radius: 50%;
}

.job-5 ul li{
    font-weight: 500;
    font-size: 1.2rem;
}
.job-6{
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 20rem;
    height: 15rem;
}
.job-6 h3{
    margin-top: 25px;
}

.job-6 img{
    margin-top: 20px;
    width: 60px; /* Adjust logo size */
    height: 50px;
    border-radius: 50%;
}

.job-6 ul li{
     
    font-weight: 500;
    font-size: 1.2rem;
}


/* top-It-compainies-section */

.top-companies{
    margin-top: 50px;
    display: flex;
    height: 80vh;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap:20px;
    margin: 70px;
    font-family: var(--text-font-famliy);
    background-color:rgb(209, 241, 241);
}
.top-companies h2{
    margin-top: 20px;
    margin-left: 500px;
}
.top-companies h4{
  margin-top: 60px;
    padding: 20px;
}

/* companies */
.comp-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 32vh;
    width:  18rem;
    margin-top: 100px;

    
}
.comp-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 32vh;
    width:  18rem;
    margin-top: 100px;
    
}

.comp-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 32vh;
    width:  18rem;
    margin-top: 100px;
    
}

.comp-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 32vh;
    width:  18rem;
    margin-top: 100px;
    
}



/* footer-section */

.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    height: 50vh;
    width: 100%;
    background-color: #333;
}
.footer h1{
    color: white;
    font-size: 3rem;
    align-self: flex-start;
    margin-bottom: 150px;
    padding-left: 50px;
    
}
.footer-section{
    display: flex;
    flex-wrap:wrap;
    gap: 150px

    
}
.footer-section1{
    padding-left: 400px;
    text-decoration: none;
    color: white;
}

.footer-section1 h3{
    margin-bottom: 10px;
}

.footer-section1 ul{
    list-style: none;
}
.footer-section1 li{
    margin-top: 15px;
}

.footer-section2{
    text-decoration: none;
    color: white;
    
}


.footer-section2 h3{
    margin-bottom: 10px;
}

.footer-section2 ul{
    list-style: none;
}
.footer-section2 li{
    margin-top: 15px;
}

.footer-section3{
    color: white;
}

.footer-section3 h3{
    margin-bottom: 10px;
}

.footer-section3 ul{
    list-style: none;
}
.footer-section3 li{
    margin-top: 15px;
}

.copy-right{
    padding-left:700px;
    color: white;
    font-size: 1.2rem;
}
.contact-icon{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.4rem;
    gap: 20px;
    margin-left: -200px;
}
